<div class="container">
	<div class="row">
		<div class="card">
			<div class="card-content">
				<div class="row">
					<div class="col s12">
						<h5><%= @game.name %> Game Lobby</h5>
						<br>
					</div>
					<div class="col l6 m6 s12">
						<p>Game Attributes</p>
						<hr/>
						<p class="grey-text"><b>Type:</b> <%= @game.type %></p>
						<p class="grey-text"><b>Password:</b> <%= @game.password == "" ? "None" : @game.password %></p>
						<p class="grey-text"><b>Number of players:</b> <%= @game.num_players %></p>
					</div>
					<div class="col l6 m6 s12">
						<p>Players in this lobby</p>
						<hr>
						<div class="players" id="<%= @game.slug %>">
						<%= render "games/in_game_lobby_players", players: @game.user %>
						</div>
					</div>
					<div class="col s12 center">
						<button class="btn blue-grey" onclick="location.href='/';">Leave this lobby</button>
						<a href="#modal" class="btn blue-grey modal-trigger">Invite a friend</a>
						<!-- Modal -->
						<div id="modal" class="modal">
						    <div class="modal-content">
						      	<div class="row">
						      		<h5 class="center">Invite a friend to this game</h5>
						      		<%= form_tag("/games/invite/#{@game.slug}") do |f| %>
						      		<div class="col l8 m8 s12">
							      		<div class="input-field">
							      			<%= email_field_tag :email %>
							      			<label for="email">Friend's email</label>
							      		</div>
						      		</div>
						      		<%= submit_tag "Invite", class: "btn blue-grey col l4 m4 s12", style: "margin-top: 20px" %>
						      		<% end %>
						      	</div>
						    </div>
						    <div class="modal-footer">
						      	<a href="#!" class=" modal-action modal-close btn-flat">Close</a>
						    </div>
						</div>
						<button class="btn blue-grey <%= @game.user.count != @game.num_players ? "disabled" : "" %>
						"><a href="/" class="white-text">Play game</a></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= content_for :script do %>
	<%= javascript_include_tag "games/in_game_lobby/index" %>
<% end %>