<!-- Information for websockets to be sent to the server -->
<input type="hidden" name="root-url" id="root-url" value="<%= root_url %>">
<input type="hidden" name="game-channel" id="game-channel" value="<%= @game.channel %>">
<input type="hidden" name="game-id" id="game-id" value="<%= @game.id %>">
<input type="hidden" name="current-player" id="current-player" value="<%= @user.slug %>">
<!-- -->

<div class="col l12 s12 m12" style="margin: 20px 0 20px 0">
	<div class="container">
		<!-- Reload Bar -->
		<div id="progress-container">
    		<div id="progress-bar">
    			<div id="label">Fire</div>
    		</div>
		</div>
		<!-- -->

		<table>
			<thead>
				<th class="empty-col"></th>
				<th class="A">A</th>
				<th class="B">B</th>
				<th class="C">C</th>
				<th class="D">D</th>
				<th class="E">E</th>
				<th class="F">F</th>
				<th class="G">G</th>
				<th class="H">H</th>
				<th class="I">I</th>
				<th class="J">J</th>
			</thead>
			<tbody>
				<tr class="1">
					<td><b>1</b></td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="2">
					<td>2</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="3">
					<td>3</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="4">
					<td>4</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="5">
					<td>5</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="6">
					<td>6</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="7">
					<td>7</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="8">
					<td>8</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="9">
					<td>9</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
				<tr class="10">
					<td>10</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
					<td>cell</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<% content_for :script do %>
	<%= javascript_include_tag "games/show/index" %>
<% end %>