<style>
	#progress-container {
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    width: 70%;
	    height: 16px;
	    background-color: grey;
	    overflow: hidden;
	    border-radius: 8px;
	}
	#progress-bar {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background-color: #aa0000;
	}

	#label {
	    text-align: left; /* If you want to center it */
	    line-height: 16px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
	    color: white;
	    margin-left: 10px;
	}
</style>

<!-- Information for websockets to be sent to the server -->
<input type="hidden" name="root-url" id="root-url" value="<%= root_url %>">
<input type="hidden" name="game-channel" id="game-channel" value="<%= @game.channel %>">
<input type="hidden" name="game-id" id="game-id" value="<%= @game.id %>">
<input type="hidden" name="current-player" id="current-player" value="<%= @user.slug %>">
<!-- -->

<div class="col l12 s12 m12" style="margin: 20px 0 20px 0">
	<div class="container">
		<!-- Reload Bar -->
		<div id="progress-container">
    		<div id="progress-bar">
    			<div id="label">Fire</div>
    		</div>
		</div>
		<!--  -->

		<table>
			<thead>
				<th class="empty-col"></th>
				<th class="A">A</th>
				<th class="B">B</th>
				<th class="C">C</th>
				<th class="D">D</th>
				<th class="E">E</th>
				<th class="F">F</th>
				<th class="G">G</th>
				<th class="H">H</th>
				<th class="I">I</th>
				<th class="J">J</th>
			</thead>
			<tbody>
			</tbody>
		</table>

		<!-- Modal -->
		<div id="modal game_over" class="modal">
		    <div class="modal-content">
		      	<div class="row">
		      		<h5>Game over</h5>
		      		<p class="score"></p>
		      	</div>
		    </div>
		    <div class="modal-footer">
		    	<a href="/" class="btn-flat">Exit game</a>
		      	<a href="#!" class=" modal-action modal-close btn-flat">Close</a>
		    </div>
		</div>
		<!--  -->
	</div>
</div>

<% content_for :script do %>
	<%= javascript_include_tag "games/show/index" %>
<% end %>