<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/logo.png" />
	<title>BATTLESHIP!</title>
	<link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<%= yield :css %>
</head>
<body>
	<main>
	<nav>
		<div class="nav-wrapper blue-grey lighten-2">
		  	<div class="container">
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
				<ul class="left hide-on-med-and-down">
					<li><%= link_to "Home", '/' %></li>
				</ul>
				<ul class="right hide-on-med-and-down" style="margin-right: 15px">
		            <% if current_user %>
		            <li><%= link_to current_or_guest_user.name, controller: "users", action: "show", id: current_or_guest_user.id %></li>
		            <li><%= link_to "Logout", '/users/sign_out', method: 'delete' %></li>
		            <% elsif guest_user %>
					<li><%= link_to 'Login', '/users/sign_in' %></li>
                	<li><%= link_to 'Sign up', new_registration_path(resource_name) %></li>
		            <% end %>
		        </ul>
		        <ul class="side-nav" id="mobile-demo">
		            <li><%= link_to "Home", '/' %></li>
		            <% if current_user %>
		            <li><%= link_to "Profile", controller: "users", action: "show", id: current_or_guest_user.id %></li>
		            <li><%= link_to "Logout", '/users/sign_out', method: 'delete' %></li>
		            <% elsif guest_user %>
					<li><%= link_to 'Login', '/users/sign_in' %></li>
                	<li><%= link_to 'Sign up', new_registration_path(resource_name) %></li>
		            <% end %>
		        </ul>
		  	</div>
		</div>
	  </nav>

	<% if flash[:notice] %>
		<div class="alert alert-warning">
			<ul>
			<% if flash[:notice].kind_of?(Array) %>
				<% flash[:notice].each do |flash| %>
					<%= content_tag :li, flash %>
				<% end %>
			<% else %>
				<%= content_tag :li, flash[:notice] %>
			<% end %>
			</ul>
		</div>
	<% end %>

	<% if flash[:alert] %>
		<div class="alert alert-danger">
			<ul>
			<% if flash[:alert].kind_of?(Array) %>
				<% flash[:alert].each do |flash| %>
					<%= content_tag :li, flash %>
				<% end %>
			<% else %>
				<%= content_tag :li, flash[:alert] %>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= yield %>

	<div id="myModal" class="modal">
		<div class="modal-content">
		<div class="container">
			<h4 class="modal-title text-center"></h4>
			<p class="modal-body text-center"></p>
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
		</div>
	</div>

	</main>

	<!-- Footer -->
	<footer class="page-footer blue-grey lighten-2">
		<div class="container">
			<div class="row">
				<div class="col l6 m6 s12 center">
					<h5 class="white-text">Contributors</h5>
					<ul class="white-text">
					  	<li>Silas Tippens</li>
					  	<li>Marc Bohler</li>
					  	<li>Obed Tandadjaja</li>
					</ul>
				</div>
				<div class="col l6 m6 s12 center">
					<h5 class="white-text">Visit our Github!</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="http://github.com/poeticode">Silas' Github</a></li>
					  	<li><a class="grey-text text-lighten-3" href="http://github.com/crusoe112">Marc's Github</a></li>
					  	<li><a class="grey-text text-lighten-3" href="http://github.com/obedtandadjaja">Obed's Github</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-copyright">
			    <div class="container">
			    © 2016 Silas Tippens, Marc Bohler, and Obed Tandadjaja
			    <a class="grey-text text-lighten-4 right" href="#!">BATTLESHIP!</a>
			    </div>
			</div>
		</div>
	</footer>

	<!-- Scripts -->
	<%= csrf_meta_tag %>
	<%= javascript_include_tag "application" %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
	<script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
	<%= yield :script %>

</body>
</html>
